<!DOCTYPE html>
<html lang="en">
<head>
   
    <link rel="stylesheet" href="../static/css/template.css">

</head>
<body>
    <nav class="navbar">
        <h1>My Website Test</h1>
    <nav/>
    <button type="submit" class="translate_btn">翻譯</button>
    <div class="translate_before">
        <label for="trsnalte_bf">翻譯原文</label>
        <textarea id="trsnalte_bf" name="trsnalte_bf" rows="5" cols="50">
            At w3schools.com you will learn how to make a website. They offer free tutorials in all web development technologies.
        </textarea>
    </div>    
</body>
</html>